body {
    background-color: #E6E6FA;
    background-image: url("/img/blank-composition-data-373076.jpg");
    background-repeat: repeat-x;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color: #0000FF;
    text-align: center;
    font-family: verdana;
    background-color: #F5F5F5;
}

h2 {
    color: #C71585;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    background-color: #F5F5F5;
}

ul {
    font-family: 'Rajdhani', sans-serif;
    color:#a74cbd;
    padding: 15px;
}

p {
    font-family: verdana;
    color: #BA55D3;
    font-size: 40px;
}

.head { 
    text-align: center;
    /* background-color: #F6F679; */

    padding: 25px;
    /* background-image: url("/img/apple-background-connection-399161.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed; */
}

.myimg { 
        width: 45%;
        text-align: center;
        border-style: solid;
        border-color: lightcoral;
        border-radius: 75%;
    }

.name {
    font-family: 'Amatic SC', cursive;
    color: #800080;
    font-size: 80px;
    text-align: center;
}

 [class*="col-"] {
    float: left;
} 

.nickname {
    font-family: 'Amatic SC', cursive;
    color: #800080;
    font-size: 60px;
    /* background-color: #F5F5F5; */
}

.col-1 {

    color: #BA55D3;
    font-size: 25px;
    background-color: #F5F5F5;
    margin: 5px 5px 5px 0px;
    padding: 25px;
}

.col-2 {
    color: #BA55D3;
    font-size: 25px;
    background-color: #F5F5F5;
    margin: 5px 5px 5px 0px;
    padding: 25px;
}

.col-3 {
    color: #BA55D3;
    font-size: 25px;
    background-color: #F5F5F5;
    margin: 5px 5px 0px 0px;
    padding: 30px; 
}

.tel {
    font-family: 'Concert One', cursive;
    color:#800080;
}

.email {
    font-family: 'Concert One', cursive;
    color:#800080;
}

.dob {
    font-family: 'Concert One', cursive;
    color:#800080;
}

.rel {
    font-family: 'Concert One', cursive;
    color:#800080;
}

.nation {
    font-family: 'Concert One', cursive;
    color:#800080;
}

* {
    box-sizing: border-box;
}

.addBtn {
    font-family: 'Concert One', cursive;
    color:#800080;
    text-align: center;
    background-color:#E6E6FA;
    padding: 15px;
    margin: 15px;
    font-size: 25px;
}

.addskill {
    font-family: 'Concert One', cursive;
    font-size: 25px;
}

.header {
    text-align: center;
}
.date {
    font-family: 'Rajdhani', sans-serif;
    color:#a74cbd;

}

.date2 {
    font-family: 'Rajdhani', sans-serif;
    color:#823b93;
}